<h2>Here are your twizzles:</h2>

<form class="form-inline">
  <label for="twizzer">Which Twizzard art thou?</label>
  {{input id="twizzer" class="form-control" value=twizzard}}
  <br>
  <label for="twizzled">Care to twizz?</label>
  {{textarea maxlength="141" id="twizzled" class="form-control" value=twizzle}}
  <button {{action 'newTwizzle'}}>Twizz!</button>
</form>

<ul>
  {{#each controller}}
    <li {{action 'toggleDisplay'}}><em><strong>{{twizzard}}</strong></em>: {{twizzle}}</li>
      {{#if currentDisplay}}
        {{datestamp}}
          <form class="form-inline">
            <label for="reply">Reply to this twizzle</label>
            {{input id="reply" class="form-control" value=reply}}
            <button {{action 'replyToTwizzle' reply}}>Comment</button>
          </form>
      {{/if}}
  {{/each}}
</ul>
